*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.navbar{
  height: 10vh;
}
.login-cont-cus{
  background-color: rgba(216, 216, 216, 0.945);
  height: 90vh;
}
.form-custom{
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(255, 255, 255) 0px 1px 15px 10px;
}